header.header
    .bg-info
        .container
            .row.align-items-center
                .col-md-6.--menu_top
                    ul.d-inline-flex.text-light
                        li.mr-2
                            a(href="/login.html")
                                i.fa.fa-sign-in.mr-1 
                                |Login
                        li.mr-2
                            a(href="/register.html")
                                i.fa.fa-registered.mr-1 
                                |Register
                        li.mr-2
                            a(href="/register.html")
                                i.fa.fa-envelope-o.mr-1 
                                |Realestate@Steelthemes.com
                .col-md-6.text-md-right.--social
                    ul.d-inline-flex
                        li.mr-1
                            a(href="")
                                i.fa.fa-facebook
                        li.mr-1
                            a(href="")
                                i.fa.fa-google-plus
                        li.mr-1
                            a(href="")
                                i.fa.fa-youtube
                        li.mr-1
                            a(href="")
                                i.fa.fa-twitter
    .bg-white.--header_bottom
        .container
            span.--contact_phone_header Call Us Anytime [at] 1-880-002-0088
            .row.align-items-center
                .col-md-2.--logo
                    a(href="/")
                        img(src="../dist/images/logo.png", alt="")
                .col-md-10
                    ul.--menu_bottom.d-md-flex.w-100.py-md-3
                        li
                            a(href="/") Home
                        li
                            a(href="/") About US
                        li
                            a(href="/") News
                        li
                            a(href="/") Products
                        li
                            a(href="/").btn.btn-warning Contact