include ../mixin/select.pug
    
section.--search.bg-info.py-4
    - var title = "Home Page"
    .container
        h1.text-md-left.text-center.text-light.text-uppercase.mb-3.--search_title Tìm kiếm nhà đất
        .row.align-items-center
            .col-md-4.mb-2
                - var data = [{id: 1, name: 'Phường 1'},{id: 2, name: 'Phường 2'},{id: 3, name: 'Phường 3'}, {id: 4, name: 'Phường 4'}, {id: 5, name: 'Phường 5'}]
                +select(data, '#sell-dat' ,'Phường', '--select_content')
            .col-md-4.mb-2
                - var data = [{id: 1, name: 'Phường 1'},{id: 2, name: 'Phường 2'},{id: 3, name: 'Phường 3'}, {id: 4, name: 'Phường 4'}, {id: 5, name: 'Phường 5'}]
                +select(data, '#phuong' ,'Phường', '--select_content')
            .col-md-4.mb-2
                - var data = [{id: 1, name: 'Phường 1'},{id: 2, name: 'Phường 2'},{id: 3, name: 'Phường 3'}, {id: 4, name: 'Phường 4'}, {id: 5, name: 'Phường 5'}]
                +select(data, '#dientich' ,'Phường', '--select_content')
            .col-md-4.mb-2
                - var data = [{id: 1, name: 'Phường 1'},{id: 2, name: 'Phường 2'},{id: 3, name: 'Phường 3'}, {id: 4, name: 'Phường 4'}, {id: 5, name: 'Phường 5'}]
                +select(data, '#pricematch' ,'Phường', '--select_content')
            .col-md-4.mb-2
                - var data = [{id: 1, name: 'Phường 1'},{id: 2, name: 'Phường 2'},{id: 3, name: 'Phường 3'}, {id: 4, name: 'Phường 4'}, {id: 5, name: 'Phường 5'}]
                +select(data, '#project' ,'Phường', '--select_content')
            
            .col-md-4.mb-2
                form(action="" method="POST")
                    input#sell-dat(hidden)
                    input#phuong(hidden)
                    input#dientich(hidden)
                    input#pricematch(hidden)
                    input#project(hidden)
                    button.btn.btn-warning.btn-block Tìm Kiếm